@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&display=swap');


body {
    background: #140826;
    color: #FFF;
    font-family: 'aldrich', sans-serif;
}

h1 {
    color: #4E54BF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Audiowide;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    color: #FFF;
    font-family: Aldrich;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.details-room {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 60px;
    background: #1D1340;
}

.details-room>* {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.box {
    padding: 10px;
    border-radius: 30px;
    background: rgba(29, 19, 64, 0.63);
}

.players {
    display: flex;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(78, 84, 191, 0.50);
}

.players:hover {
    border-radius: 20px;
    background: rgba(210, 133, 242, 0.50);
}

button{
    margin: 10px;
}