@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&display=swap');


body {
    background: #140826;
    color: #FFF;
    font-family: 'aldrich';
    text-align: center;
}

.custom-navbar {
    background-color: #290041;
}

.nav-link {
    font-family: Audiowide;
}

h1 {
    color: #4E54BF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Audiowide;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

h2 {
    margin-top: 10px;
}

.details-room {
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    display: inline-flex;
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 60px;
    background: #1D1340;
}

.details-room>* {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.box {
    padding: 10px;
    border-radius: 30px;
    background: rgba(29, 19, 64, 0.63);
}

.players {
    margin: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(78, 84, 191, 0.50);
}

.players:hover {
    border-radius: 20px;
    background: rgba(210, 133, 242, 0.50);
}

button{
    margin: 10px;
}

.btn-play {
    background: #4E54BF;
    box-shadow: 4px 4px 4px 0px rgba(215, 242, 12, 0.32);
    color: white;
    text-align: center;
    font-family: Audiowide;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-leave {
    background: #DB3161BD;
    box-shadow: 4px 4px 4px 0px rgba(215, 242, 12, 0.32);
    color: white;
    text-align: center;
    font-family: Audiowide;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

body {
    background-color: #130426;
    color: white;
    padding: 40px;
  }

  .room-info {
    background-color: #1f1442;
    padding: 20px;
    border-radius: 10px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
  }

  .container-costum {
    background: #1D1340A1;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 75px;
    margin-right: 75px;
    padding: 2px;
    padding-top: 5px;
  }

  .joueur {
    background-color: #6d3a89;
    margin: 10px ;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .creator {
    background-color: #9b61c0;
  }

  .star {
    color: yellow;
    font-size: 24px;
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 40px;
  }

  .btn {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }

  .btn-play {
    background-color: #4f5bd5;
    color: white;
  }

  .btn-leave {
    background-color: #d74a68;
    color: white;
  }